// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


/* LOGIN */
  #login_page{
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url('/svg/dino_bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #818181;

    a{
      color: $light_links;

      &:hover{
        color: darken($light_links, 50%);
      }
    }

    #logo{
      display: block;
      height: 255px;
      width: 255px;
      margin: 0 auto;
      background-image: url('/svg/logo.svg');
      background-size: 100%;
      background-repeat: no-repeat;
    }

    .card{
      border: 1px solid #cbc8be;
      background-color: rgba(255, 255, 255, 0.7);
      background: rgba(255, 255, 255, 0.7);
      -webkit-box-shadow: 0px 0px 11px 4px rgba(76,70,63,0.1);
      -moz-box-shadow: 0px 0px 11px 4px rgba(76,70,63,0.1);
      box-shadow: 0px 0px 11px 4px rgba(76,70,63,0.1);
      padding: 20px;


      .card-header{
        border: 0;
        background: transparent;
        color: #08041e;
        font-size: 3em;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 2px;
        line-height: 1em;

        .sh{
          font-size: .7em;
          line-height: 1em;
        }
      }

      .btn{
        background: $fuschia;
        border: 1px solid darken($fuschia, 5%);
        font-size: 1.5em;

        &:hover{
          background: lighten($fuschia, 5%);
        }
      }

      input[type=email], input[type=password]{
        &:focus{
          background: #ffffe5;
        }
      }
    }

    .back-login{
      padding-top: 30px;
      display: block;
      text-align: center;
      font-size: 1.2em;
    }
  }
/* LOGIN */

/* TEMPLATE DESIGN */
  a,
  a:hover,
  a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }

  .navbar {
    padding: 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    z-index: 998;


    .user-image{
      padding: 0;
      line-height: 1em;
      border-left: 1px solid #ddd;
    }

    .superadmin-icon{
      font-size: 2.2em;
      padding: 0;
      line-height: 1em;
      padding-top: 7px;
    }

    .quickadd-icon{
      font-size: 2.2em;
      padding: 0;
      line-height: 1em;
      padding-top: 7px;
      margin: 0;
    }
  }


  #navbarMobileContent{
    .nav-item {
      a{
        display: block;
        padding: 10px 20px;
        border-bottom: 1px solid #eee;
        font-size: 1.2em;
        &:hover{
          background: #eee;
        }
      }

      .nav-caption{
        display: block;
        padding: 10px 20px;
        border-bottom: 1px solid #eee;
        font-size: 1.1em;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #999;
      }

      &:first-child{
        margin-top: 10px;
        border-top: 1px solid #eee;
      }
    }

    .superadmin{
      background: #f9f7ec;


      .nav-caption{
        display: block;
        border-bottom: 1px solid #f0eade;
        color: #c0b59d;
      }

      a{
        border-bottom: 1px solid #f0eade;

        &:hover{
          background: #fff4da;
        }
      }
    }


  }

  .navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
  }


  .btn-info{
    background: $eggplant;
    color: #fff;
    border: 0;

    &:hover, &:focus, &:active{
      background: $eggplantd;
    }
  }


  /* ---------------------------------------------------
    SIDEBAR STYLE
  ----------------------------------------------------- */

  .wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    position: relative;
  }

  .fixed-position{
    background: rgb(90,26,61);
    background: -moz-linear-gradient(0deg, rgba(90,26,61,1) 0%, rgba(44,40,64,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(90,26,61,1) 0%, rgba(44,40,64,1) 100%);
    background: linear-gradient(0deg, rgba(90,26,61,1) 0%, rgba(44,40,64,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5a1a3d",endColorstr="#2c2840",GradientType=1);
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100vh;
    min-height: 100vh;
    z-index: 999;
  }

  .fixed-position::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  .fixed-position::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px $eggplant; 
    border-radius: 10px;
  }

  /* Handle */
  .fixed-position::-webkit-scrollbar-thumb {
    background: rgb(7, 7, 7); 
    border-radius: 10px;
  }

  /* Handle on hover */
  .fixed-position::-webkit-scrollbar-thumb:hover {
    background: #009eb3; 
  }


  #sidebar {
    min-width: 250px;
    max-width: 250px;
    color: #fff;
    transition: all 0.3s;


    .sidebar-header {
      padding: 20px 10px;
      letter-spacing: 2px;
    }

    ul.components {
      padding: 0 0 20px;
    }

    ul{

      p {
        color: #fff;
        padding: 10px;
      }

      li {
        a {
        padding: 10px 20px;
        font-size: .9em;
        text-transform: uppercase;
        letter-spacing: 2px;
        display: block;

          &:hover{
          color: #fff;
          background: rgba(29, 26, 47, 0.5);
          }
        }
      }

      li.active>a{
        color: #fff;
        background: $fuschia;
        &:hover{
          background: $fuschia;
        }
      }


      a[aria-expanded="true"] {
        background: #161420;
        &:hover{
          background: #161420;
        }
      }

    }

    ul ul {
      border-bottom: 1px solid #161420;

      a {
        font-size: 0.9em !important;
        text-transform: none;
        letter-spacing: 0;
        padding-left: 30px !important;
        background: rgba(29, 26, 47, 0.3);

        &:hover{
          background: #8c2e61;
        }
      }

      li.active>a{
        color: #fff;
        background: darken(#8c2e61, 10%);
        &:hover{
          background: darken(#8c2e61, 10%);
        }
        
      }
    }
  }

  #sidebar.active {
    margin-left: -250px;
  }



  a[data-toggle="collapse"] {
    position: relative;
  }

  .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  /* ---------------------------------------------------
    CONTENT STYLE
  ----------------------------------------------------- */

  #content {
    width: 100%;
    min-height: 100vh;

    main{
      margin-top: 65px;
      margin-left: 250px;
      padding-bottom: 40px;
      transition: all 0.3s;
      
      .content-area{
        padding: 20px;
      }


    }
  }


  .push-margin{
    margin-left: 0 !important;
    transition: all 0.3s;
  }

/* TEMPLATE DESIGN */



/* CARDS */
  #app{

    .bh{
      font-size: 2.3em;
      font-weight: bold;
      display: block;
    }

    .sh{
      font-weight: normal;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #999;
      font-size: .9em;
      line-height: 1em;
      display: block;
    }

    .card{
      border: 0;
      -webkit-box-shadow: 0px 0px 11px 4px rgba(76,70,63,0.1);
      -moz-box-shadow: 0px 0px 11px 4px rgba(76,70,63,0.1);
      box-shadow: 0px 0px 11px 4px rgba(76,70,63,0.1);
      padding: 20px;
      font-size: 1.1em;

      .card-header{
        border: 0;
        background: transparent;
        color: $text_dviolet;
        padding-bottom: 0;
      }
    }

    .card-body{
      h1{
        color: $text_dviolet;
        font-weight: bold;
      }

      .updatedby{
        padding-top: 20px;
        font-size: .8em;
        color: #888;

        a{
          color: #888;
          font-weight: bold;
        }
      }

    }

    .field_wrapper .generated_inputs{
      padding-top: 10px;
      .add_button, .remove_button{
        padding: 4px 0;
        display: inline-block;
        margin-right: 5px;
      }

      label{
        padding-top: 4px;
        margin: 0;
        display: inline-block;
      }
      input[type="radio"] {
        margin: 2px 5px 0 0;
        display: inline-block;
        vertical-align: middle;
      }
    }

    input[type=email], input[type=password]{
      &:focus{
        background: #ffffe5;
      }
    }

    input.disabled{
      background-color: #e9ecef !important;
    }

    .form-note{
      font-size: .8em;
      color: #999;
      padding: 5px 0 0;
      margin: 0;
    }

    ul.list-items{
      margin-left: 0;
      padding-left: 20px;
    }

    .card-tabs{
      a{
        background: #f3f4e8;
        border-color: #dee2e6 #dee2e6;
        margin-right: 1px;
      }

      a.active{
        background: #fff;
        border-color: #dee2e6 #dee2e6 #fff;
      }
    }

    .tab-pane{
      h5{
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #999;
        padding-bottom: 10px;
      }

      a{
        color: $blue;
      }


      .status_log{
        border-top: 1px dotted #ddd;
        padding: 10px;

        .schip{
          display: inline-block;
          font-size: .8em;
          text-transform: uppercase;
          letter-spacing: 1px;
          background: #ddd;
          padding: 3px 5px;
          margin-bottom: 10px;
        }

        .schip-available{
          background: $green;
          color: #fff;
          border: 1px solid darken($green, 5%);
        }

        .schip-damaged{
          background: $red;
          color: #fff;
          border: 1px solid darken($red, 5%);
        }

        .schip-borrowed{
          background: $yellow;
          color: #000;
          border: 1px solid darken($yellow, 5%);
        }


        p{
          margin-bottom: 0;
        }

        &:last-child{
          border-bottom: 1px dotted #ddd;
        }
      }

      .status_log.even{
        background: #f9f9f9;
      }


      .empty_results{
        display: block;
        background: #fafafa;
        text-align: center;
        padding: 45px 20px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;

        p{
          font-size: 1.3em;
        }
      }
    }



  }

  
/* CARDS */


/* FORMS */
  form{
    label {
      font-weight: bold;

      .required{
        color: #d00b2b;
        font-size: 1.1em;
        line-height: .9em;
      }

      .error, #compExists{
        color: #d00b2b;
        font-weight: normal;
      }
    }
  }
/* FORMS */

/* ACCOUNTS */
  .chip{
    border: 1px solid #ddd;
    text-transform: uppercase;
    display: inline-block;
    padding: 2px 20px;
    letter-spacing: 2px;
    background: #f1f1f1;
    font-size: .8em;
  }

  .chip-admin{
    background: $teal;
    border: 1px solid $teal;
    color: #fff;
  }

  .chip-deactivated{
    background: $yellow;
    border: 1px solid $yellow;
    color: #000;
  }

  .chip-freelancer{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  
  .chip-pwd{
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
  }
  
  .info-block{

    .info-item{
      margin-bottom: 10px;
      display: block;

      a{
        color: $blue;
      }
    }

    strong{
      display: block;
    }
  }
/* ACCOUNTS */


/* NOTIFICATION */
  .alert{
    position: fixed;
    bottom: 0;
    right: 0;
    transition: all 0.3s;
    z-index: 1060 !important;
    margin: 20px;
    font-size: 1em;
    border-radius: 0;
  }

  .alert-success{
    background: $green;
    color: #fff;
    border: 1px solid darken($green, 5%);
  }

  .alert-danger{
    background: $red;
    color: #fff;
    border: 1px solid darken($red, 5%);
  }

  .alert-warning{
    background: $yellow;
    color: #000;
    border: 1px solid darken($yellow, 5%);
  }

/* NOTIFICATION */



#app {
  .card.card-table{
    padding: 0;
    table{
      margin-bottom: 0;

      td{
        vertical-align: middle;

        .name{
          font-size: 1.1em;
          font-weight: bold;
          margin-right: 10px;
          display: inline-block;
          line-height: 1em;
          vertical-align: middle;
        }
        .chip{
          font-size: .7em;
          padding: 2px 10px;
          vertical-align: middle;
        }
      }

      .deactivated{
        background: #f7f7f7;
        color: #999;
      }

      .icon_menu{
        a{
          padding: 5px;
          color: #111;

          .fa-ban{
            color: $red;
          }

          .fa-check{
            color: $green;
          }
        }
      }
    }
  }

  .settings_tab{
    position: relative;
    z-index: 101;

    .sh{
      padding-top: 12px;
      padding-bottom: 10px;
    }

    .nav-tabs{
      border-bottom: 0;

      .active, .active:hover{
        background: #fff;
        border: 1px solid #dee2e6;
        border-bottom: 1px solid #fff;
        font-weight: bold;
      }

      a{
        &:hover{
          background: darken($body-bg, 5%);
          border: 1px solid darken($body-bg, 10%);
          border-bottom: 1px solid #fff;
        }

        &:focus-within{
          border: 1px solid transparent;
          border-bottom: 1px solid #fff;
        }
      }
    }
  }


  /* DATA TABLES */
    #listpage_datatable{
      width: 100% !important;
      border-bottom: 1px solid #dee2e6;

      #bulk_deac, #bulk_status, #bulk_acti, #bulk_delete{
        padding: 1px 10px;
      }

      tr{
        td{
          vertical-align: middle;
          cursor: pointer;

          .btn{
            margin-left: 5px;

          }



          .btn-outline-secondary, .btn-outline-danger, .btn-outline-success{
            border: 1px solid #eee;
          }

          .btn-outline-secondary{
            &:hover{
              border: 1px solid #6c757d;
            }
          }

          .btn-outline-danger{
            color: #6c757d;
            &:hover{
              color: #fff;
              border: 1px solid #e3342f;
            }
          }

          .btn-outline-success{
            color: #6c757d;
            &:hover{
              color: #fff;
              border: 1px solid $green;
            }
          }

        }
        td:first-child{
          line-height: 1em;
          padding-left: 20px;
          cursor: default;
        }
        td:last-child{
          text-align: right;
          width: 150px !important;
          min-width: 150px !important;
          cursor: default;
        }

        .hover_buttons{
          opacity: 0;
        }

        &:hover{
          background: #f9f9f9;

          .hover_buttons{
            opacity: 1;
          }
        }
      }

      tr.deactivated{
        background: #f7f7f7;
        color: #999;
      }

      tr.rowselected, tr.rowselected:hover{
        background: #fff3f3;
      }

      .col_actions{
        text-align: right;
        padding-right: 10px;
      }

      .price{
        display: block;
        text-align: right;
      }

      .status_open, .status_draft{
        background: #999;
      }

      .status_completed, .status_paid, .status_available{
        background: $green;
      }

      .status_dropped, .status_sent, .status_maintenance, .status_borrowed{
        background: $orange;
      }

      .status_damaged{
        background: $red;
      }

      .status{
        display: inline-block;
        font-size: .7em;
        padding: 2px 5px;
        color: #fff;
        text-transform: uppercase;
        border-radius: 0.3rem;
        letter-spacing: 1px;
      }
    }

    .dataTables_wrapper{
      border-top: 1px dotted #ccc;

      .bootstrap-select{
        .dropdown-toggle{
          padding-top: 0;
          padding-bottom: 0;
          padding-right: 0;
        }
      }

      .dataTables_length{
        padding: 20px 0 10px;
        .bootstrap-select{
          width: 70px;
        }
      }

      .dataTables_filter{
        padding: 13px 0 0;
        label{
          margin-left: 10px;
        }

        input{
          border: 1px solid #ced4da;
          border-radius: 0.25rem;
          min-width: 200px;
        }

        #active_status_container{
          display: inline-block;

          .divider{
            padding-left: 10px;
            color: #ccc;
          }

          .bootstrap-select{
            width: 100px;
            text-align: left;
            margin-left: 10px;
          }

        }

      }
    }


    #select_invoice_official_bill #listpage_datatable tr{
      td:first-child{
        line-height: 1em;
        padding-left: 20px;
        cursor: pointer;
      }
      td:last-child{
        text-align: right;
        padding-right: 20px;
        cursor: pointer;
      }
    }

  /* DATA TABLES */


  /* INVOICES */
    #invoices_page #listpage_datatable{
      tr{
        td:last-child{
          width: 180px !important;
          min-width: 180px !important;
        }
      }
    }


    #invoice_heading{
      padding: 10px 0 15px; 

      h1{
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 2em;
        color: #666;
        line-height: 1;
        width: 100%;
      }

      #invoice_id{
        font-size: 1.7em;
        color: #666;
        text-align: right;
        padding: 0;
        line-height: 1;

        span{
          color: #999;
        }
      }
    }


    #invoice_items_table{
      background: #fff;
      min-width: 1030px !important;
      margin-top: 10px;

      th{
        border-top: 2px solid #e1e1e1;
        border-bottom: 2px solid #e1e1e1;
        background: #f8f8f8;
        color: #333;
        padding: 10px 5px;
      
      }

      th.price, th.quantity, th.amount{ text-align: right; }

      tbody{
        tr.itemrow{
          td{border-bottom: 1px dotted #e1e1e1;}
        }

        tr.descrow{
          background: #fbfbfb;
          border-bottom: 2px solid #e1e1e1;
          input{
            background: #fbfbfb;
          }
        }

        td{
          border-right: 1px dotted #e1e1e1;
          input, select, button{
            border: 0;
            border-radius: 0;
            margin: 0;

            &:focus{
              outline: none;
              background: #ffffe5;
            }

          }

          .form-control:focus {
            border-color: inherit;
            -webkit-box-shadow: none;
            box-shadow: none;
          }

        }

        td.services{ width: 35%; }
        td.machines{ width: 27%; }

        td.unit, td.price{ 
          width: 8%;
          text-align: right;

          .form-control:disabled, .form-control[readonly] {
            background-color: #fff;
            border: 0;
            text-align: right;
          }
        }

        td.unit{
          text-align: left;
        }


        td.quantity{ 
          width: 6%; 
          text-align: right;

          input{
            text-align: right;
          }
        }
        td.amount{
          border-bottom: 0 !important; 
          border-right: 0;
          background: #f0f4f8;
          text-align: right;

          .form-control:disabled, .form-control[readonly] {
            background-color: #f0f4f8;
            text-align: right;
          }
        }
        td.option{border: 0 !important; padding: 0 5px;}
      }
   
    }

    #invoice_add_button{
      display: block;
      color: #383d41;
      background-color: #e2e3e5;
      border: 1px solid #d6d8db;
      margin: 10px 0 20px;
      padding: 5px 10px;

      span{
        padding-left: 10px;
      }
    }

    #totals_section{
      width: 1030px !important;
      padding-right: 31px;

      #totals_form_group{
        width: 30%;

        input{
          background: #f0f4f8;
          text-align: right;
        }

        label{
          text-align: right;
          width: 100%;
        }
        #label_total{
          text-transform: uppercase;
          font-size: 1.2em;
        }

        #total{
          font-size: 1.3em;
        }


      }
    }


    #view_invoice{

      .card{
        padding: 0;

        .card-body{
          padding: 2.25rem;
          padding-top: 20px;
        }
      }


      #up_candy{
        display: inline-block;
        width: 24px;
        height: 24px;
        background-image: url('/images/up_logo.png');
        margin-left: 10px;
      }

      #markers{

        .status_draft{
          background: #999;
        }

        .status_paid{
          background: $green;
        }

        .status_sent{
          background: $orange;
        }

        .status{
          border-top-left-radius: 0.25rem;
          color: #fff;
          display: inline-block;
          padding: 15px 40px;
          font-size: 1.3em;
          text-transform:   uppercase;  
          letter-spacing: 1px;
        }

        #invoice_menu{
          padding: 30px 40px 0;
        }

      }
      em.info_na{
        color: #ccc;
      }

      #invoice_items_table{
        td{
          padding: 5px 10px;
        }

        th{
          padding: 10px;
        }
      }


      #totals_section{
        padding: 0;
        text-align: right;
        margin: 0;
        width: 100% !important;

        #totals_form_group{
          width: 334px;
        }

        .row{
          margin: 0;
        }

        .num{
          border-left: 1px dotted #e1e1e1;
          background: #f0f4f8;
          margin: 0;
          padding: 5px 10px;
        }

        #grand_total{
          border-top: 2px solid #e1e1e1;
          border-bottom: 2px solid #e1e1e1;
          margin-bottom: 0;
          font-size: 1.4em;
        }
      }
    }
  /* INVOICES */


  /* PROJECTS */
    #view_projects{
      padding: 10px 0; 

      .card{
        padding: 0;

        .card-body{
          padding: 2.25rem;
          padding-top: 10px;
        }
      }


      h1{
        margin-bottom: 10px;
      }

      .sh{
        display: inline-block;
        padding-bottom: 10px;
      }

      #markers{

        .status_open{
          background: #999;
        }

        .status_completed{
          background: $green;
        }

        .status_dropped{
          background: $orange;
        }

        .status{
          border-top-left-radius: 0.25rem;
          color: #fff;
          display: inline-block;
          padding: 15px 40px;
          font-size: 1.3em;
          text-transform:   uppercase;  
          letter-spacing: 1px;
        }

        #invoice_menu{
          padding: 30px 40px 0;
        }

      }

      #basic_invoice_info{
        margin-bottom: 20px;
        .info-item{
          strong{
            display: inline-block;
            width: 100px;
            padding-right: 10px;
          }
          margin-bottom: 5px;
        }
      }

      #invoices_table_head{
        padding-bottom: 20px;
      }

      h5{
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #999;
        font-size: 1.3em;
        margin: 0;
      }


      #listpage_datatable_length, #listpage_datatable_filter{
        display: none;
      }

      #listpage_datatable tr td:last-child{
        width: 50px !important;
        min-width: 50px !important;
      }

      .empty_results{
        display: block;
        background: #fafafa;
        text-align: center;
        padding: 75px 20px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;

        p{
          font-size: 1.3em;
        }
      }


    }
  /* PROJECTS */


  /* CLIENTS */
    #view_clients{
      padding: 10px 0; 

      .card{
        padding: 0;

        .card-body{
          padding: 40px;
          padding-top: 10px;
        }
      }

      h1{
        margin-bottom: 10px;
        font-weight: bold;
      }

      hr#after_marker{
        margin: 0 40px 0px;
        padding-bottom: 20px;
      }

      .sh{
        display: inline-block;
        padding-bottom: 10px;
      }

      #markers{
        padding: 40px 40px 20px;
      }

      h5{
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #999;
        padding-top: 5px;
        margin-bottom: 0;
      }

      #tab_menu{
        .first_item{
          margin-left: 40px;
        }
      }

      .tab-pane{
        .btn-outline-success{
          color: #38c172;

          &:hover{
            color: #fff;
          }
        }
      }
      #results_list{
        border-top: 1px solid #ddd;

        .result_item{
          width: 100%;
          padding: 10px 0;
          border-bottom: 1px dotted #ddd;

          .name{
            font-size: 1.2em;
            font-weight: bold;
          }

          strong{
            display: inline-block;
            width: 55px;
          }

          .dates{
            font-size: .8em;
            color: #666;

            span{
              color: #ccc;
              padding: 0 5px;
              display: inline-block;
            }
          }

          .url, .client_project{
            font-size: .8em;
            color: #666;
            a{
              color: #666;
            }
          }

          .status_open, .status_draft{
            background: #666;
          }

          .status_completed, .status_paid{
            background: $green;
          }

          .status_dropped, .status_sent{
            background: $orange;
          }

          .status{
            display: inline-block;
            border-radius: 0.25rem;
            padding: 3px 10px;
            color: #fff;
            font-size: .7em;
            margin-bottom: 4px;
          }

          .invoice_count{
            font-size: .8em;

            span{
              font-weight: bold;
            }
          }

          .total{
            font-weight: bold;
            font-size: .9em;
          }
        }
      }


    }
  /* CLIENTS */

  /* DASHBOARD */
    #dashboard{
      .stats.card{
        color: #fff;
        padding: 20px;
        margin-bottom: 30px;

        .stat{
          strong{
            font-size: 1.9em;
            padding-right: 5px;
          }
          span{
            vertical-align: center;
          }
        }

        p{
          text-transform: uppercase;
          color: #fff;
          margin: 0 0 0;
          letter-spacing: 2px;
          font-size: .9em;
        }
      }

      .green{
        background-color: darken($green, 10%);
      }

      .blue{ background-color: darken($blue, 10%); }

      .orange{ background-color: darken($orange, 5%);  }

      .purple{ background-color: darken($purple, 5%); }

      .card{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        a{
          &:hover{
            color: $blue;
          }
        }

        h5{
          text-transform: uppercase;
          font-size: 1em;
          letter-spacing: 1px;
          color: #666;
          padding-bottom: 5px;
        }

        table{
          margin-bottom: 0;
          th{
            padding: 5px 10px;
            background: #f9f9f9;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
          }

          td{
            padding: 5px 10px;
            border-bottom: 1px dotted #ddd;

              .status_open, .status_draft{
                background: #999;
              }

              .status_completed, .status_paid{
                background: $green;
              }

              .status_dropped, .status_sent{
                background: $orange;
              }

              .status_damaged{
                background: $red;
              }

            .status{
              display: inline-block;
              font-size: .7em;
              padding: 2px 5px;
              color: #fff;
              text-transform: uppercase;
              border-radius: 0.3rem;
              letter-spacing: 1px;
            }

          }
        }
        .view_all{
          padding: 10px 10px 0;
          display: inline-block;
          font-size: .9em;
          color: #777;
        }
      }
    }
  /* DASHBOARD */

  /* REPORTS */
    #reports_page{
      #filters_container{
        .filter_container{
          display: inline-block;
        }
        #months_container{
          
          .bootstrap-select{
            width: 130px;
          }
        }

        #years_container{
          .bootstrap-select{
            width: 80px;
          }
        }
      }


      #gt{
        font-size: 1.7em;

        div{
          padding-left: 10px; 
        }

        #gt_label{
          font-size: .8em;
          text-transform: uppercase;
          color: #666;
        }
        #grand_total{
          font-weight: bold;
        }
      }
    }
  /* REPORTS */

  /* OFFICIAL BILLS */

    #official_bills_form, #official_bills_view{

      h5{
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #999;
        padding-bottom: 10px;
      }

      .btn-outline-secondary{
        color: #6c757d;
        border-color: #6c757d;

        &:hover{
          color: #fff;
        }
      }


      #markers{

        .status_draft{
          background: #999;
        }

        .status_paid{
          background: $green;
        }

        .status_sent{
          background: $orange;
        }

        .status{
          border-top-left-radius: 0.25rem;
          color: #fff;
          display: inline-block;
          padding: 15px 40px;
          font-size: 1.3em;
          text-transform:   uppercase;  
          letter-spacing: 1px;
        }

        #invoice_menu{
          padding: 30px 40px 0;
        }

      }

      #bill_for_settings, #prepared_by_settings{
        .form-group .row{
          padding-bottom: 10px;
        }
      }

      #bill_message{
        padding-bottom: 20px;
        border-bottom: 1px dotted #ccc;
        margin-bottom: 20px;
      }


      #invoice_items_table{
        min-width: 1030px !important;
        table{
          td{
            padding: 5px 10px;
          }
          td.services{ 
            width: 55%; 
            em{
              color: #666;
            }
          }
          td.quantity{ width: 8%; }
          td.unit{ width: 8%; }
          td.price{ width: 14%; }
          td.amount{ width: 15%; border-bottom: 1px dotted #ccc !important; }
        }
      }


      #totals_section{
        min-width: 1030px !important;
        padding: 0 0 20px 0;
        text-align: right;
        width: 100% !important;

        #totals_form_group{
          width: 308px;
        }

        .row{
          margin: 0;
        }

        .num{
          border-left: 1px dotted #e1e1e1;
          background: #f0f4f8;
          margin: 0;
          padding: 5px 10px;
        }

        #grand_total{
          border-top: 2px solid #e1e1e1;
          border-bottom: 2px solid #e1e1e1;
          margin-bottom: 0;
          font-size: 1.4em;
        }
      }


    }

    #official_bills_view{

      h3{
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-bottom: 10px;
        text-align: center;
      }

      .card{
        padding: 0;

        .card-body{
          padding: 2.25rem;
          padding-top: 20px;
        }
      }

      #bill_for_settings{
        span{
          display: block;
        }
      }
      #bill_message{
        border: 0;
      }
    }

  /* OFFICIAL BILLS */
}





/* ---------------------------------------------------
  ADDITIONAL OOP
----------------------------------------------------- */

.lh-1{
  line-height: 1em;
}

hr.dotted{ border-top: 1px dotted #ddd; }

.input-group-addon{
  border: 1px solid #ced4da;
  border-left: 0; 
  background: #eee;

  span{
    padding: 5px 10px 0;
    display: block;
  }
}

.twitter-typeahead{
  width: 100%;
}

.dk-select.form-control{
  border: 0;
  padding: 0;

  .dk-selected{
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
  }
}

.tt-dataset-client{
  width: 315px;
}
      
.datepicker{
  z-index: 9000 !important;
}


.bootstrap-select{
  .dropdown-toggle{
    background-color: #fff;
    border-color: #ced4da;
  }
}
/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */


  @media (min-width: 769px) {
    #content {
      main{
        margin-left: 250px;
        transition: all 0.3s;
        z-index: 99;
        position: relative;
      }
    }

    .navbar {
      margin-left: 250px;
      transition: all 0.3s;
    }
  }

  @media (max-width: 768px) {

    #app {
      #listpage_datatable{


        tr{


          .hover_buttons{
            opacity: 1;
          }
        }
      }
    }

    .fixed-position{
      position: fixed;
      margin-top: 64px;
      left: 0;
    }

    #sidebar {
      margin-left: -250px;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #sidebarCollapse span {
      display: none;
    }

    #content {
      main{
        margin-left: 0;
        transition: all 0.3s;
      }
    }

    #app .settings_tab{
      .nav-tabs li{
        a{
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }








/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */