// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


/* HEADER */
  .navbar{
    background: #2c2840;
  }
/* HEADER */



/* CARDS */
  #login_page{
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url('/svg/dino_bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #818181;

    a{
      color: $light_links;

      &:hover{
        color: darken($light_links, 50%);
      }
    }

    #logo{
      display: block;
      height: 255px;
      width: 255px;
      margin: 0 auto;
      background-image: url('/svg/logo.svg');
      background-size: 100%;
      background-repeat: no-repeat;
    }

    .card{
      border: 1px solid #cbc8be;
      background-color: rgba(255, 255, 255, 0.7);
      background: rgba(255, 255, 255, 0.7);
      -webkit-box-shadow: 0px 0px 11px 4px rgba(76,70,63,0.1);
      -moz-box-shadow: 0px 0px 11px 4px rgba(76,70,63,0.1);
      box-shadow: 0px 0px 11px 4px rgba(76,70,63,0.1);
      padding: 20px;


      .card-header{
        border: 0;
        background: transparent;
        color: #08041e;
        font-size: 3em;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 2px;
        line-height: 1em;

        .sh{
          font-size: .7em;
          line-height: 1em;
        }
      }

      .btn{
        background: $fuschia;
        border: 1px solid darken($fuschia, 5%);
        font-size: 1.5em;

        &:hover{
          background: lighten($fuschia, 5%);
        }
      }

      input[type=email], input[type=password]{
        &:focus{
          background: #ffffe5;
        }
      }
    }

    .back-login{
      padding-top: 30px;
      display: block;
      text-align: center;
      font-size: 1.2em;
    }
  }
/* CARDS */

